#taskSubmit:hover {
  background-color: blue;
  color: white;
}

input[type='text']:focus,
button:focus,
li:focus,
.subTaskText:focus,
.particularTaskHeader h1:focus {
  outline: none;
}

.titleListDisplay img {
  margin: 0.8% 0% 0% 0%;
}
.allHeaders img {
  margin: 0.6% 0% 0.6% 0%;
}

.particularTaskHeader img {
  margin: 1.8% 0% 0% 0%;
}

#titleContainer li:nth-child(odd) {
  background-color: #f9f9f9;
}

#titleContainer li:hover,
.unCheckedClass:hover,
.checkedClass:hover {
  background-color: #aaa;
}

.unCheckedClass > img,
.checkedClass > img,
.titleListDisplay > img {
  display: none;
}

.unCheckedClass:hover > img,
.checkedClass:hover > img,
.titleListDisplay:hover > img {
  display: inline;
}
