img {
  cursor: pointer;
}

body {
  font-family: sans-serif;
  margin: 0px;
}

.bodyHeader {
  padding: 30px 40px;
  color: black;
}

.bodyHeader > h2 {
  margin: 0vw;
  text-align: center;
  font-size: 2.3vw;
}

.searchBar {
  right: 10%;
  position: absolute;
  display: flex;
}

.search {
  height: 2vw;
  width: 16vw;
  background-color: white;
  border-bottom: 0.1vw solid;
  margin: 0.1vw;
}

#searchTask {
  display: none;
}

#searchOption {
  margin: 1vw;
}

.search > input {
  margin-top: 0.12vw;
  outline: none;
  border: none;
  width: 79%;
  font-size: 1.2vw;
  font-weight: 250;
}

.search > img {
  height: 1.4vw;
  width: 12%;
  vertical-align: sub;
}

.addTitle {
  position: absolute;
  display: flex;
  top: 1.5vw;
}

.addTitle > input {
  width: 15vw;
  margin-left: 2vw;
  height: 1.7vw;
  border: none;
  border-bottom: 0.1vw solid;
  font-size: 1.5vw;
}

.addTitle > img {
  height: 1.5vw;
  width: 2vw;
}

#logOut {
  height: 2vw;
  width: 4vw;
  position: absolute;
  right: 1.5vw;
  top: 1.2vw;
}

#logOut:hover {
  transform: scale(1.1);
}

#logOut > img {
  height: 100%;
  width: 100%;
}
