body {
  font-family: sans-serif;
}

.header {
  background-color: black;
  padding: 30px 40px;
  color: white;
}
#title {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 0px;
}
#submit {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  background-color: lightblue;
  border: 0px;
  cursor: pointer;
}

.returnBar {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.submissionOfTaskHeader {
  width: 75%;
}
.tasksInput {
  width: 50%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250, 253, 253);
}

input[type='text']:focus,
button:focus {
  outline: none;
}

.taskSubmit {
  width: 20%;
  padding: 10px;
  background-color: lightblue;
  cursor: pointer;
  border-radius: 50%;
}

.taskSubmit:hover {
  background-color: blue;
  color: white;
}
#submit:hover {
  background-color: blue;
  color: white;
}
#TodoContainer {
  height: 590px;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

#smartLook {
  height: 590px;
  width: 20%;
  border-radius: 3px;
  border-right: 1px solid black;
}

#animation {
  height: 23.7%;
  border-bottom: black solid 1px;
  border-radius: 4px;
}
#onlyTitles {
  height: 76.3%;
  overflow: scroll;
}
#titlesList {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
  font-size: 18px;
  transition: 0.2s;
  margin: 0;
}
#todoList {
  height: 590px;
  width: 80%;
  border-radius: 3px;
  overflow: scroll;
  border-left: 1px solid black;
}

.todoBox {
  background-color: rgb(165, 162, 162);
  height: 100px;
  margin: 2px;
  border-radius: 5px;
  padding: 4px;
  position: relative;
  cursor: pointer;
}

.particularTaskBox {
  background-color: rgb(233, 232, 232);
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 92%;
  overflow: scroll;
}

.particularHeader {
  position: relative;
  padding: 4px;
  border-bottom: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.subTasksList {
  padding: 5px;
  font-size: 30px;
}

.close {
  position: absolute;
  right: 0;
  top: 3;
}

.todoBoxHeader {
  border-bottom: 1px solid grey;
}

.animationOfText {
  color: white;
  font-size: 60px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  position: relative;
  color: #6ab04c;
  animation: text 3s 1;
}

@keyframes text {
  0% {
    font-size: small;
  }
  30% {
    letter-spacing: 25px;
    color: black;
    font-size: small;
  }
  80% {
    color: black;
    letter-spacing: 8px;
  }
}

#titlesList li:nth-child(odd),
.subTasksList li:nth-child(odd) {
  background: #eeeeee;
}

.itemsDisplay {
  border-radius: 5px;
  position: relative;
}

#titlesList li:hover,
.subTasksList li:hover {
  background: #ddd;
}

img {
  cursor: pointer;
}
