body {
  font-family: sans-serif;
}

.header {
  background-color: black;
  padding: 30px 40px;
  color: white;
}
#title {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 0px;
}
#submit {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  background-color: lightblue;
  border: 0px;
  cursor: pointer;
}

#submit:hover {
  background-color: blue;
  color: white;
}
#TodoContainer {
  height: 590px;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

#smartLook {
  height: 590px;
  width: 20%;
  border-radius: 3px;
  border-right: 1px solid black;
}

#animation {
  height: 140px;
  border-bottom: black solid 1px;
  border-radius: 4px;
}
#onlyTitles {
  height: 460px;
  overflow: scroll;
}
#titlesList {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
  font-size: 18px;
  transition: 0.2s;
  margin: 0;
}
#todoList {
  height: 590px;
  width: 80%;
  border-radius: 3px;
  overflow: scroll;
  border-left: 1px solid black;
}

.todoBox {
  background-color: rgb(151, 144, 144);
  height: 100px;
  margin: 2px;
  border-radius: 5px;
  padding: 4px;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
}

.todoBoxHeader {
  border-bottom: 1px solid grey;
}

.animationOfText {
  color: white;
  font-size: 60px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  position: relative;
  color: #6ab04c;
  animation: text 3s infinite;
}

@keyframes text {
  0% {
    font-size: small;
  }
  30% {
    letter-spacing: 25px;
    color: black;
    font-size: small;
  }
  80% {
    color: black;
    letter-spacing: 8px;
  }
}

#titlesList li:nth-child(odd) {
  background: #eeeeee;
}

#titlesList li {
  border-radius: 5px;
}

#titlesList li:hover {
  background: #ddd;
}
