.wrongLogin {
  position: absolute;
  right: 1vw;
  top: 2vw;
}
.wrongLogin > p {
  font-size: 1.1vw;
  color: red;
}

.logInPage {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.login {
  position: fixed;
  background-color: white;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 18vw;
  height: 22vw;
  border: 0.1vw solid;
  font-size: 1.5vw;
  font-weight: 100;
  border-radius: 0.8vw;
}

.header {
  margin: 1vw;
}

.userName {
  margin: 1vw;
}

.userName * p {
  margin-left: 0.5vw;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
}

.userName * input {
  width: 90%;
  outline: none;
  font-size: 1.2vw;
  font-weight: 300;
  margin-left: 0.4vw;
}

.userName * button {
  width: 90%;
  margin-left: 0.7vw;
  margin-top: 1.5vw;
  cursor: pointer;
  height: 2vw;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  background-color: #4cce4c;
  color: black;
}

.signUp > a {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 1.5vw;
  text-decoration: none;
  color: black;
  margin-left: 4vw;
}
