body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
.signUpBox {
  position: absolute;
  background-color: white;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 21vw;
  height: 35vw;
  border: 0.1vw solid;
  font-size: 1.5vw;
  font-weight: 100;
  border-radius: 0.8vw;
}

label,
p {
  margin-left: 0.5vw;
}

.signUpBox input {
  width: 90%;
  margin-left: 0.7vw;
  margin-top: 0.5vw;
  margin-bottom: 0.7vw;
  cursor: pointer;
  height: 2vw;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  color: black;
}

.signUpBox button {
  width: 90%;
  margin-left: 0.7vw;
  margin-top: 1.5vw;
  cursor: pointer;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  background-color: #4cce4c;
  color: black;
}

.signUpPage {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.logIn {
  margin-top: 2vw;
}

.logIn > a {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  text-decoration: none;
  color: black;
  margin-left: 1.5vw;
}
