#taskContainer {
  display: flex;
  flex-wrap: wrap;
  height: 590px;
  width: 80%;
  border-radius: 3px;
  overflow: scroll;
  border-left: 1px solid black;
}

.todoBox {
  background-color: rgb(189, 189, 189);
  height: 30vw;
  width: 20vw;
  margin: 2.8vw;
  border-radius: 5px;
  padding: 4px;
  position: relative;
  cursor: pointer;
}

.titleName {
  width: 650px;
  background-color: transparent;
  border: 0px;
  font-size: 42px;
  margin-top: 12px;
}

.statusBar {
  display: flex;
  justify-content: center;
  margin: 1vw;
}

.totalTasks,
.totalTasksInParticularTask,
.tasksDone,
.tasksNotDone {
  height: 20px;
  border-radius: 20px;
  padding: 5px;
}

.totalTasks {
  background-color: darkgray;
  width: 150px;
}

.tasksDone {
  background-color: lightgreen;
  margin: 0% 1%;
  display: flex;
  justify-content: space-between;
}

.tasksDone > img {
  height: 20px;
}

.tasksDone > p {
  margin: 1px;
}

.tasksNotDone {
  background-color: lightsalmon;
  display: flex;
  justify-content: space-between;
}

.tasksNotDone > img {
  height: 17px;
}

.tasksNotDone > p {
  margin: 0px;
}

.allHeaders {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.allHeaders > p {
  white-space: nowrap;
  margin: 6px;
  outline: none;
  overflow-x: scroll;
  flex: 90%;
}

.allHeaders > img {
  height: 30px;
}

.taskAdder {
  display: flex;
  justify-content: center;
}

.taskAdder > input {
  font-size: 1vw;
}

.taskButton {
  background-color: gray;
  border-radius: 5px;
}
.taskInput {
  padding: 10px;
  width: 95%;
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250, 253, 253);
}

.taskImages {
  display: flex;
  width: 45px;
  justify-content: space-between;
}

.deleteIcon {
  height: 22px;
}

.editIcon {
  margin-top: 2px;
  height: 18px;
}

.unCheckedClass,
.checkedClass {
  border-radius: 5px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  margin: 4px;
}

.checkedClass {
  font-weight: 100;
  font-style: italic;
}

.taskList {
  height: 19.5vw;
  margin-bottom: 1vw;
  overflow: scroll;
}
